<br />
<div class="container">
  <div class="row">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14598.025614868799!2d90.35638636547695!3d23.836145075416336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1410ff7f515%3A0x7655eae2540befbe!2sBangladesh+University+of+Professionals+(BUP)!5e0!3m2!1sen!2sbd!4v1554540865807!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<br />